<% if (ui == "button") { %>
  <button type="button" data-toggle=".<%= slug %>">
<% } else { %>
  <input type="checkbox" value=".<%= slug %>" id="<%= slug %>-<%= uniqueId %>"
    <% if (checked) { %>
      checked="checked"
    <% } %>
  >
  <label for="<%= slug %>-<%= uniqueId %>">
<% } %>

<% if (typeof icon !== "undefined") { %>
  <i class="fa <%= icon %>" aria-hidden="true"></i>
<% } %>
<%= name %>

<% if (ui == "button") { %>
  </button>
<% } else { %>
  </label>
<% } %>

<% if (parentElement) { %>
  <button class="toggle-expand">
    <i class="fa fa-plus-square-o" aria-label="Expand <%= name %>"></i>
  </button>
<% } %>
